/* color palette:
dark pink: #AD2B53
orange: #F39458
*/

body {
  background-color: #AD2B53;
  color:#ffffff;
  font-family: 'Open Sans', sans-serif;
}

button {
  font-family: 'Open Sans', sans-serif;
}

.container{
  text-align: center;
}

.responsive-table{
  display: inline-block;
}

/*--ui color variables--*/
$white: #ececec;
$black: #111111;
$pink: #AD2B53;
$orange: #F39458;
$colorPrimary: $pink;
$colorSecondary: $orange;
$cubic-bezier:cubic-bezier(0.68, -0.55, 0.265, 1.55);


.generate-button {
  background-color: #F39458;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.logo-img{
  width: 200px;
}

.act-img{
  width: 50px;
}
